<div class="masthead">
<nav class="language-nav">
    <ul>
        <a href="#" class="masthead-links">CSS</a>
        <a href="#" class="masthead-links">HTML</a>
        <a href="#" class="masthead-links">Javascript</a>
        <a href="#" class="masthead-links">Ruby</a>
    </ul>
</nav>

<img src="assets/AA_Times_Logo.png" alt="AA Times">

    <ul class="masthead-links">
        <li><time>Tuesday, October 18, 2016</time></li>
        <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
        <li><i class="fas fa-video"></i><a href="#">Video</a></li>
        <li><button>77°F</button></li>
        <li><button>AAO <strong>+100%<</strong></button></li>
    </span>
</div>