<ul class="section-list">
    <li><a href="#">World</li></a>
    <li><a href="#">San Francisco</li></a>
    <li><a href="#">New York</li></a>
    <li><a href="#">Bootcamp Prep</li></a>
    <li><a href="#">Jumpstart</li></a>
    <li><a href="#">Online</li></a>
    <li><a href="#">Marketing</li></a>
    <li><a href="#">Sales</li></a>
    <li><a href="#">TalentMatch</li></a>
    <li><a href="#">Alumni</li></a>
    <li><a href="#">All</li></a>
</ul>