.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px 0 10px 0;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    // width: 900px;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: center;
}


.left-nav > ul > li {
    font-family: $sans-serif;
    margin: 0 2px;
    font-weight: 700;
    // text-transform
    padding: 5px;
}

.right-nav > ul > li {
    font-family: $sans-serif;
    margin: 0 2px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {
    padding: 5px;
}